#{set title: 'Repositories' /}

#{include 'errors/_generic.html' /}

<p>
    <label>Name</label><br>
    <input type="text" name="repository.name" value="${repository?.name}" class="text small">
    <span class="note error">${errors.forKey('repository.name')}</span>
</p>

<p>
 	 <label>Categoria</label><br>
	 <select name="category" class="styled">
	        %{ models.Category.all().fetch().sort{ it.toString() }.each() { }%
	            %{ 
	                selected = false;
	                repository?.category.each() { f ->
	                    if (f.id == it?.id)
	                        selected = true;
	                }
	            }%
	            <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
	            %{ }
	        }%
	    </select>
    
</select>

</p>



<input type="hidden" name="repository.id" value="${repository?.id}"/>

<hr>

*{
 <div class="row">
    <div class="label">Grupos com acesso no /</div>
    <div class="field">
        <select name="repository.rootGroups.id" multiple>
            %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
                %{ 
                    selected = false;
                    repository?.rootGroups.each() { f ->
                        if (f.id == it?.id)
                            selected = true;
                    }
                }%
                <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
                %{ }
            }%
        </select>
    </div>
    <span class="error">${errors.forKey('repository.rootGroups')}</span>
</div>
}*



