#{extends 'main.html' /}

#{set title: 'Synchronizations' /}

<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        #{if synchronization }
        <h2>Synchronization #${synchronization?.id} in ${synchronization?.date}</h2>
        #{/if}
        #{else}
        <h2>Synchronization</h2>
        #{/else}
    </div>

    <div class="block_content">
        #{if synchronization }
        <form>
            <p>
                <label>Configuration</label><br>
                <textarea readonly="readonly" rows="10">${synchronization?.configuration}</textarea>
            </p>

            <hr>
            
            <input type="button" name="cancel" value="Back" class="submit small" onclick="window.location.href='@{Synchronizations.index}'">
            <br><br>
        </form>
        #{/if}
        #{else}
            No synchronization found.
        #{/else}
    </div>
    <div class="bendl"></div>
    <div class="bendr"></div>
</div>
