#{extends 'main.html' /}

<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>Edit Group</h2>
    </div>

    <div class="block_content2">
        #{form @Groups.update(), id:'createForm'}
            #{include 'Groups/_form.html' /}
            
            <p>
			    <label>Users Already Exists</label><br>
			    <select id="fdsfds" name="group.users.id" class="chzn-select multiple" multiple data-placeholder="Choose users...">
			        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
			            %{ 
			                selected = false;
			                group?.users.each() { f ->
			                    if (f.id == it?.id)
			                        selected = true;
			                }
			            }%
			            <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
			            %{ }
			        }%
			    </select>
			    <span class="note error">${errors.forKey('group.users')}</span>
			</p>
			
			<p>
                <label>Add New Users</label><br>
                <input type="text" name="group.logins" value="${group?.logins}" class="text small">
                <span class="note">Enter users separated by comma (,)</span>
                <span class="note error">${errors.forKey('users')}</span>
            </p>

            <hr>
            <input type="submit" name="submit" value="Save" class="submit small">
            <input type="button" name="cancel" value="Cancel" class="submit small" onclick="window.location.href='@{Groups.index}'">
            <br><br>
        #{/form}
    </div>
    <div class="bendl"></div>
    <div class="bendr"></div>
</div>
