#{extends 'main.html' /}

#{include 'Groups/create.html' /}

<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>Groups</h2>
        <ul>
            <li class="nobg">Total: ${groups?.size}</li>
        </ul>
    </div>

    <div class="block_content">
      #{if groups }
        <table cellpadding="0" cellspacing="0" width="100%" class="sortable">
            <thead>
                <tr>
                    <th width="10" class="header" style="cursor: pointer;">ID</th>
                    <th class="header" style="cursor: pointer;">Name</th>
                    <th class="header" style="cursor: pointer;">Users</th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                #{list items:groups, as:'group'}
                    <tr>
                       <td>${group?.id}</td>
                       <td>${group?.name}</td>
                       <td>
                           #{if group.users }
                               #{list items:group.users, as:'user'}
                                   <a href="@{Users.edit(user.id)}">${user.login}</a>&nbsp;&nbsp;
                               #{/}
                           #{/if}
                       </td>
                       <td style="text-align:right">
                           <a href="@{Groups.edit(group.id)}">Edit</a>&nbsp;
                           <a href="@{Groups.delete(group.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                       </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
      #{/if}
      #{else}
          No data inserted.
      #{/else}  
    </div>
    <div class="bendl"></div>
    <div class="bendr"></div>
</div>


