#{extends 'main.html' /}

#{include 'Permissions/create.html' /}

<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>Permissions</h2>
        <ul>
            <li class="nobg">Total: ${permissions?.size}</li>
        </ul>
    </div>

    <div class="block_content">
      #{if permissions }
        <table cellpadding="0" cellspacing="0" width="100%" class="sortable">
            <thead>
                <tr>
                    <th width="10" class="header" style="cursor: pointer;">ID</th>
                    <th class="header" style="cursor: pointer;">Group</th>
                    <th class="header" style="cursor: pointer;">Repository</th>
                    <th class="header" style="cursor: pointer;">/</th>
                    <th class="header" style="cursor: pointer;">/trunk</th>
                    <th class="header" style="cursor: pointer;">/branches</th>
                    <th id="action"></th>
                </tr>
            </thead>
            <tbody>
                #{list items:permissions, as:'permission'}
                    <tr>
                       <td>${permission.id}</td>
	                   <td>${permission.group}</td>
	                   <td>${permission.repository}</td>
	                   <td>${permission.root}</td>
	                   <td>${permission.trunk}</td>
	                   <td>${permission.branches}</td>
                       <td style="text-align:right">
                           <a href="@{Permissions.edit(permission.id)}">Edit</a>&nbsp;
                           <a href="@{Permissions.delete(permission.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                       </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
      #{/if}
      #{else}
          No data inserted.
      #{/else}  
    </div>
    <div class="bendl"></div>
    <div class="bendr"></div>
    
    <script>
        $(document).ready(function() {
            $('#action').attr('style','width:100px');
        });
    </script>
</div>
